.banner {
    position: relative;
    text-align: center;
   
    
  }
  .banner img {
    width: 1040px;
    height: 600px;
    object-fit: cover;
    margin: 0;
  }
  .welcome-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: white;
  }
  .customize-btn {
    position: absolute;
    bottom: -250px;
    left: -250px;
    margin: 10px; 
    background-color: #D84315; 
    color: white; 
    padding: 10px 20px; 
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    
  }
  