/* AddProduct Page Container */
.add-product-container {
    display: flex;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Form Section Styles */
.form-section {
    width: 100%;
    max-width: 800px; /* Increased max width to make the form wider */
    padding: 30px;
    background-color: #FFF6E5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Image Upload Section */
.image-upload {
    text-align: center;
    margin-bottom: 20px;
}

.image-upload img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}

.image-upload p {
    color: #007BFF;
    font-size: 14px;
    margin-top: 5px;
}

/* Form Group Styling */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #CCC;
    box-sizing: border-box;
}

/* Upload Progress */
.upload-progress {
    font-size: 14px;
    color: #ff6600;
    margin-bottom: 10px;
    text-align: center;
}

/* Submit Button */
.submit-button {
    width: 100%;
    background-color: #F25C05;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #e14b05;
}

@media (max-width: 768px) {
    .add-product-container {
        flex-direction: column;
    }

    .form-section {
        width: 100%;
        padding: 20px;
    }

    .form-section h1 {
        font-size: 24px;
    }

    .form-group input,
    .form-group select {
        font-size: 14px;
        padding: 8px;
    }

    .submit-button {
        padding: 8px;
        font-size: 14px;
    }
}
