.food-section {
  padding: 2em;
  background-color: #fff3e0;
}

.food-section h2 {
  text-align: left;
  margin-left: 2em;
}

.food-items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.bottom-button {
  text-align: right;
  margin-top: 2em;
}

.bottom-button button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}

.bottom-button button:hover {
  background-color: #055908;
}

@media (max-width: 768px) {
  .food-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    display: block;
    margin: 0.5em 0;
  }

  .food-section h2 {
    text-align: center;
    margin-left: 0;
  }
}
